package templates

import "github.com/cory-evans/barcode-gen/internal/components"

templ Home() {

	<html lang="en" data-theme="corporate">
		@DocumentHead("Barcode Generator")	
		<body class="bg-base-200 text-base-content min-h-screen p-4">
			<main>
				@components.BarcodeForm(0)
			</main>
		</body>
	</html>
}