package components

import "github.com/cory-evans/barcode-gen/internal/util"


templ InputField(name string, label string, inputType string) {
	{{ id := util.RandomHtmlElementID() }}
	

	<div class="flex flex-col">
		<label class="text-sm" for={ id }>{label}</label>
		<input id={ id } type="text" class="input input-md" name={ name } type={inputType} />
	</div>
}