package components


templ InputField(name string, label string, inputType string) {
	<fieldset class="fieldset">
		<legend class="fieldset-legend">{ label }</legend>
		<input type="text" class="input w-full" name={ name } type={inputType} />
	</fieldset>
}